.feiji{
    background: url(../images/face/o_feiji.png) no-repeat;
}
.ganbei{
    background: url(../images/face/o_ganbei.png) no-repeat;
}
.lazhu{
    background: url(../images/face/o_lazhu.png) no-repeat;
}
.liwu{
    background: url(../images/face/o_liwu.png) no-repeat;
}
.lvsidai{
    background: url(../images/face/o_lvsidai.png) no-repeat;
}